<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.elijahlofgren.persistantstorageexample"
        versionCode="0" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Persistent Storage Example</name>

    <description>
Testing
    </description>

    <author href="http://www.elijahlofgren.com/" email="ejlofgre@gmail.com">
Elijah Lofgren
    </author>
<feature name="http://api.phonegap.com/1.0/file"/>

</widget>
